<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sync_SAP_STATUS.Properties.Settings.WolfApproveCore_eco3_trialConnectionString"
            connectionString="Data Source=DESKTOP-QP7RNT5\SQLEXPRESS;Initial Catalog=WolfApproveCore.eco3-trial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="ConnectionString" value="data source=localhost;initial catalog=WolfApproveCore.SinghaEstate-r2-UAT;persist security info=True;user id=sa;password=pass@word1;"/>
		<add key="DocumentCode" value="PR01"/>
		<add key="APIPath" value="http://10.10.60.16:8000"/>
		<add key="Module" value="ZEX_T25"/>
		<add key="sap-client" value="300"/>
		<add key="Token" value="Basic TU9MMDE6c2FwQDEyMw=="/>
		<add key="SrcMemoId" value=""/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>